@media screen and (max-width: 1024px) {
  .container {
    width: 750px;
  }
  .wrapper {
    min-width: 800px;
  }
  .main-block__title1{
    font-size:80px;
  }
  .gallary-main{
    padding-bottom:105px;
    &-left{
      margin-left:0;
      &-but{
        position: absolute;
        left: 50%;
        transform:translateX(-50%);
        bottom: 50px;
      }
    }
    &-right{
      max-width: 460px;
    }
  }
  .gallary--adaptive{
    & .gallary-main{
      flex-wrap: wrap;
    }
    & .gallary-main-right{
      flex:0 1 100%;
      max-width: 100%;
      margin-bottom:30px;
    }
    & .gallary-main-left{
      flex:0 1 100%;
      max-width: 100%;
      display: flex;
      justify-content: space-around;
      margin-bottom:30px;
    }
    & .gallary-main-right-block{
      margin: 0 auto;
    }
    & .team-list{
      margin: 0 auto;
    }
  }
  .form{
    margin-left: 0;
  }
  .main-block-footer{
    display: none;
  }
  .footer-title{
    font-size: 100px;
    color: #676868;
    position: absolute;
    bottom: -55px;
    left: calc(50% - 400px);
  }
  .main-block__title1{
    padding-bottom:20px;
    margin-bottom: 0;
  }

}
@media screen and (max-width: 768px) {
  .container {
    width: 480px;
  }
  .wrapper {
    min-width: 520px;
  }
  .gallary--adaptive-mob{
    & .gallary-main{
      flex-wrap: wrap;
    }
    & .gallary-main-right{
      flex:0 1 100%;
      max-width: 100%;
      margin-bottom:30px;
    }
    & .gallary-main-left{
      flex:0 1 100%;
      max-width: 100%;
      display: flex;
      justify-content: space-around;
      margin-bottom:30px;
    }
    & .gallary-main-right-block{
      margin: 0 auto;
    }
    & .team-list{
      margin: 0 auto;
    }
  }
  .gallary-main-right--white-item{
    margin-top: 20px;
  }
  .gallary-main-left-but__link{
    white-space: nowrap;
  }
  .main-block__title1{
    font-size:50px;
  }
  .gallary-main-left{
    flex-wrap: wrap;
    &__title{
      flex: 0 1 100%;
    }
    &__text{
      flex: 0 1 100%;
    }
  }
  .team-list{
    justify-content: space-around;
  }
  .team-item{
    margin-bottom: 20px;
  }
  .footer-title {
    font-size: 70px;
    bottom: -35px;
    left: calc(50% - 300px);
  }
}
@media screen and (max-width: 420px) {
  .container {
    width: 320px;
  }
  .wrapper {
    min-width: 300px;
  }
  .main-block__title1{
    font-size:40px;
  }
  .gallary-header-menu--mob{
    display: block;
  }
  .header-nav-item{
    display: none;
  }
  .footer-title{
    font-size: 40px;
    bottom: -15px;
    left: calc(50% - 160px);
  }
}